<%- include('shards/header', { title: 'Donate - p0ntus mail', currentPage: 'donate' }) %>
<div class="container">
    <%- include('shards/nav', { currentPage: 'donate' }) %>
    <i class="il mt-5">Current donation progress this month</i>
    <hr>
    <div class="progress mt-3">
        <div class="progress-bar bg-dark" role="progressbar" style="width: <%= (current / goal) * 100 %>%;" aria-valuenow="<%= current %>" aria-valuemin="0" aria-valuemax="<%= goal %>">$<%= current %> / $<%= goal %></div>
    </div>
    <div class="d-flex justify-content-between mt-2">
        <span><b>Current:</b> $<%= current %></span>
        <span><b>Goal:</b> $<%= goal %></span>
    </div>
    <p>This goal represents the cost of the server and its operation, based on the bill from the previous month.</p>
    <hr>
    <i class="il mt-5">Donate with Cryptocurrency</i>
    <hr>
    <div class="text-start">
        <h5><i class="fa-brands fa-bitcoin ico-sm" style="color: #f7931a;"></i> Bitcoin</h5>
        <div class="d-flex justify-content-between">
            <p id="bitcoin-address" class="overflow"><%= bitcoin %></p>
            <button class="btn btn-outline-secondary btn-sm ms-2" onclick="copyToClipboard('bitcoin-address')">Copy</button>
        </div>
        <h5><i class="fa-brands fa-ethereum ico-sm" style="color: #3c3c3d;"></i> Ethereum</h5>
        <div class="d-flex justify-content-between">
            <p id="ethereum-address" class="overflow"><%= ethereum %></p>
            <button class="btn btn-outline-secondary btn-sm ms-2" onclick="copyToClipboard('ethereum-address')">Copy</button>
        </div>
        <h5><i class="fa-solid fa-litecoin-sign ico-sm" style="color: #bebebe;"></i> Litecoin</h5>
        <div class="d-flex justify-content-between">
            <p id="litecoin-address" class="overflow"><%= litecoin %></p>
            <button class="btn btn-outline-secondary btn-sm ms-2" onclick="copyToClipboard('litecoin-address')">Copy</button>
        </div>
        <h5><i class="fa-brands fa-monero ico-sm" style="color: #fc6621;"></i> Monero</h5>
        <div class="d-flex justify-content-between">
            <p id="monero-address" class="overflow"><%= monero %></p>
            <button class="btn btn-outline-secondary btn-sm ms-2" onclick="copyToClipboard('monero-address')">Copy</button>
        </div>
        <h5><i class="fa-solid fa-dollar-sign ico-sm"></i> Solana</h5>
        <div class="d-flex justify-content-between">
            <p id="solana-address" class="overflow"><%= solana %></p>
            <button class="btn btn-outline-secondary btn-sm ms-2" onclick="copyToClipboard('solana-address')">Copy</button>
        </div>
    </div>
</div>
<script src="/js/donate.js"></script>
<%- include('shards/footer') %>